-- DropForeignKey
ALTER TABLE `department` DROP FOREIGN KEY `department_company_id_fkey`;

-- DropForeignKey
ALTER TABLE `position` DROP FOREIGN KEY `position_company_id_fkey`;

-- AlterTable
ALTER TABLE `department` ALTER COLUMN `name` DROP DEFAULT,
    MODIFY `company_id` INTEGER NOT NULL DEFAULT 1;

-- AlterTable
ALTER TABLE `position` MODIFY `company_id` INTEGER NOT NULL;

-- AddForeignKey
ALTER TABLE `department` ADD CONSTRAINT `department_company_id_fkey` FOREIGN KEY (`company_id`) REFERENCES `company`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `position` ADD CONSTRAINT `position_company_id_fkey` FOREIGN KEY (`company_id`) REFERENCES `company`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- RenameIndex
ALTER TABLE `department` RENAME INDEX `department_company_id_fkey` TO `department_company_id`;

-- RenameIndex
ALTER TABLE `department` RENAME INDEX `department_manager_user_id_fkey` TO `manager_user_id`;

-- RenameIndex
ALTER TABLE `department` RENAME INDEX `department_parent_department_id_fkey` TO `parent_department_id`;

-- RenameIndex
ALTER TABLE `position` RENAME INDEX `position_company_id_fkey` TO `position_company_id`;

-- RenameIndex
ALTER TABLE `position` RENAME INDEX `position_department_id_fkey` TO `position_department_id`;

